# Auto detect text files and perform LF normalization
* text=auto
*.db text eol=lf
*.db binary
*.db text eol=lf
.venv text eol=lf
.venv binary
.venv text eol=lf
.venv binary
.venv text eol=lf
.venv binary
.venv text eol=lf
.venv binary 
.venv text eol=lf
.venv binary
.venv text eol=lf
.venv binary
.venv text eol=lf
.venv binary
.venv text eol=lf
.
